.wrapper_right {
    width: 85%;
    margin: 50px auto;
}

.title {
    color: red;
    font-weight: bolder;
    font-size: 1.7em;
}

.about_me {
    margin-top: 50px;
}

.email {
    margin-top: 40px;
}