
<div class="wrapper_right">
    <div class="title">ABOUT ME</div>

    <div class="text">
        Hello, My name is Alexey and I'am web developer. <br>
        This site is developing. Wait more information.
    </div>
    
    <div class="email">
        <strong>Email:</strong> dezy1ex@gmail.com
    </div>

    <div class="location">
        <strong>Location:</strong> Russia, Samara
    </div>
        
</div>

<script>
    if (performance.navigation.type == 1) {
        window.location.replace("/")
    }
</script>