<div class="wrapper_right">
    <div class="title">ABOUT ME</div>

    <div class="about_me">
        Hello, My name is Alexey and I'am web developer. <br>
        This site is developing. Wait more information.
    </div>
    
    <div class="email">
        <strong>Email:</strong> dezy1ex@gmail.com
    </div>

    <div class="location">
        <strong>Location:</strong> Russia, Samara
    </div>
    
    <div class="progress_skills">
        <div class="skill">
            <div class="text">
                Flask
            </div>

            <div class="progress_bar">
                <progress max="100" value="70"></progress>
            </div>
        </div>

        <div class="skill">
            <div class="text">
                JavaScript
            </div>

            <div class="progress_bar">
                <progress max="100" value="10"></progress>
            </div>
        </div>

        <div class="skill">
            <div class="text">
                HTML & CSS
            </div>

            <div class="progress_bar">
                <progress max="100" value="50"></progress>
            </div>
        </div>
    </div>

</div>

<script>
    if (performance.navigation.type == 1) {
        window.location.replace("/")
    }
</script>