<html>
<head>
    <title>awesome</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/about.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/projects.css") }}">
</head>

<body>
    <div class="main_row row">
        <div class="left_col col-3">
            <div class="wrapper_left">
                <div class="avatar">
                    <img src="{{ url_for("static", filename="img/duck.jpg") }}" alt="">
                </div>
                
                <div class="fio">
                    Davydov Alexsey
                </div>
                
                <div class="profession">
                    WEB developer
                </div>

                <div class="links row">
                    <div class="col">
                        <a  href="vk.com"><img class="vk" src="{{ url_for("static", filename="img/vk.png") }}" alt="vk"></a>
                    </div>
                    
                    <div class="col">
                        <a  href="vk.com"><img class="github" src="{{ url_for("static", filename="img/github.png") }}" alt="git"></a>
                    </div>                    
                </div>

                <nav class="col">
                    <a id="about" href="/about_me" onclick="show(url='about_me', redirect=true); return false;" class="row" >ABOUT ME</a>
                    <a class="row" href="#" onclick="show(url='projects', redirect=true); return false;">PROJECTS</a>
                    
                    {% if current_user.login == "root" %}
                        <a class="row" href="/admin/project">ADD PROJECT</a>
                    {% endif %}
                </nav>
                
            </div>
            
            <footer>
                <div class="text">
                    (c) All My
                    <br>
                    {% if current_user.login == "root" %}
                        hello, root
                    {% endif %}
                </div>                
            </footer>
        </div>
        
        <div id="content" class="right_col col-9"></div>
    </div>
    
    <script>
        function show(url, redirect=false) {
            if (redirect) {
                var stateObj = { foo: "bar" };
                history.pushState(stateObj, "page 2", url);
            }

            // 0. создание div, куда потом помещается раздел страницы
            var div = document.getElementById('content');

            // переменная, которая делает запросы
            var xhr = new XMLHttpRequest();

            // 2. Конфигурируем её: GET-запрос на URL '/about_me'
            xhr.open('GET', url, false);

            // 3. Отсылаем запрос
            xhr.send();
            
            // 4. Пишу в div данные, возвращаемые сервером (html разметку)
            div.innerHTML = xhr.responseText
            return false;
        }
        show(url="about_me");
    </script>
    
</body>

</html>