<html>
<head>
    <title>dev1ex</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}">
</head>

<body>
    <div class="info">
        <div class="main">
            <div class="name">
                Davydov Alexsey
            </div>
    
            <div class="professions">
                programmer
            </div>

            <div class="country">
                Russia
            </div>
        </div>
        
        
        <div class="social">
            <div class="vk">
                <a href="vk.com/id154597302"><img src="{{ url_for("static", filename="img/vk.png") }}" alt=""></a>
            </div>
            
            <div class="github">
                <a href="github.com/davy1ex"><img src="{{ url_for("static", filename="img/github.png") }}" alt=""></a>
            </div>
        </div>        
    </div>
</body>

</html>